<h2>CONTACT US</h2>
<h3>Always happy to help and answer any questions you may have.</h3>
<p>
  Please be patient as most of our time is spent fulfilling your orders or
  replanting, repotting and training Bonsai. But we do our best to check emails
  multiple times a day during the week. Sometimes we even check in on the
  weekends.
</p>
<p class="support">
  For support or an questions please email: support@bonsaistoreApp.ca
</p>
<p class="support">
  Specimen and inventory inquiries, please email: sales@bonsaistoreApp.ca
</p>
<p class="support">
  Concerns, comments or general Bonsai geeking, you can email:
  bonsaicare@bonsaistoreApp.ca
</p>
