<h2>Bonsai Store</h2>
<p>
  We are a small family nursery and business. Sharing our love, passion and
  enthusiasm for the ancient living art of Bonsai, right here in Canada. We
  believe we need to utilize Canadian trees and show that they can be as
  magnificent as any other varieties. As well as bringing Bonsai from all around
  the world to the Canadian market. We only offer for sale trees that have
  reached a certain age, and we are confident that our trees will grow into
  gorgeous Bonsai with the right care, design and love.
</p>
